* {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
}

main {
  background-color: #d6bcd4;
}

a {
  text-decoration: none;
  color: rgb(240, 240, 240);
  font-weight: 500;
  letter-spacing: 0.1px;
  font-size: 0.9rem;
}

nav {
  background-color: #2E0249;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px #403f3f;
}

nav button {
  margin-left: 5rem;
}

.menu-itens {
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
}

.nav-logo {
  width: 10vh;
  margin-right: 5rem;
}

a .botoes-itens {
  padding: 1rem;
}

.botoes-itens:hover {
  color: white;
  border-bottom: 2px solid #ad2181;
}

.discord-button {
  text-transform: uppercase;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background-color: #A91079;
  color: white;
  box-shadow: 1px solid black;
  font-weight: 700;
}

main h1 {
  display: flex;
  justify-content: center;
}

.paragrafos {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.texto-principal h1 {
  padding: 2rem;
  color: #570A57;
}

.texto-principal p {
  width: 50vh;
  padding: 2rem;
  background-color: #7b29d3;
  color: white;
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  transition: all 0.3s ease-out;
  text-shadow: 2px 2px #403f3f;
}

.fotos-card {
  display: flex;
  width: 300px;
  border-radius: 6px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
}

.fotos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}